<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Battle Recorder</title>
		<link rel="stylesheet" href="/public/css/login.css">
        <link rel="stylesheet" href="/public/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap" rel="stylesheet">
	</head>
    <body>
        <h1>Login</h1>
        <% if (messages.error) {%>
            <%= messages.error %>
        <% } %>
        <form method="POST" action="/login">
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" name="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password">
            </div>
            <button class="btn" type="submit">Login</button>
        </form>

        <a href="/register">
            <button class="btn" type="button">Register</button>
        </a>
    </body>
</html>
