<h1>Register</h1>
<% if (error != null) { %>
<div>
        <div>
            <%= error %>
        </div>
</div>
<br>
<% } %>

<form method="POST" action="/register">
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>

<a href="/login">Login</a>